
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
<div id="container">

    <table id="flightBoard" class="text-center">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Terminal</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <img src="~/images/Sky-16.svg" style="display:none"/>
</div>